body{
    background-color: #171717;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1460px;
    margin: 0 auto;
}

.header-container{
    background-color: #171717;
    color:  white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 37px;
}

.callback-button{
    font-size: 18px;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 39px;
    text-decoration: none;
    color:#E4B564;
}

.callback-button p{
    padding-left: 10px;
}

.logo{
    flex-grow: 1;
}

.first-container{
    margin-top:120px;
    color: white; 
    font-size: 20px;
    font-weight: 700;
}

.first-container h1{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 41px;
}

.first-grid{
    padding-top: 41px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item4 item4";
    grid-row-gap: 27px;
    grid-column-gap: 25px;
}

.first-subgrid{
    grid-area: item4;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);  
}

.item1{
    grid-area: item1;
    height: 468px;
    background: #634F2C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item2{
    grid-area: item2;
    height: 468px;
    background: #B4A385;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 44px;
    padding-right: 44px;
}

.item3{
    grid-area: item3;
    height: 468px;
    background: #E4B564;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item4{
    height: 468px;
    background: #635A4A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item5{
    height: 468px;
    background: #B08C4D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-container{
    margin-top: 161px;
    color: white;
}

.second-container h2{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 94px;
}

.second-grid{
    display: flex;
}

.second-grid-column1{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.second-grid-column2{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}


.second-grid-column3{
    display: flex;
    flex-direction: column;
}  


.second-grid p{
    padding-left: 50px;
    padding-top: 45px;
    padding-right: 116px;
    font-weight: 400;
    font-size: 20px;
}

.second-grid span{
    font-weight: 700;
}

.item2-1{
    background: #0E0E0E;
    height: 313px;
    margin-bottom: 24px;
}

.item2-2{
    background: #242424;
    height: 439px;
    margin-bottom: 33px;
}

.item2-3{
    background: #1F1F1F;
    height: 255px;
    margin-bottom: 26px;
}

.item2-4{
    background: #1F1F1F;
    height: 560px;
}

.item2-5{
    background: #E4B564;
    color: #000000;
    height: 405px;
}

.item2-6{
    background: #0E0E0E;
    height: 313px;
    margin-bottom: 26px;
}

.item2-7{
    background: #0A0909;
    height: 277px;
    margin-bottom: 26px;
}

.third-container{
    padding-top: 172px;
    margin-top: 360px;
    color: white;
    background: #0E0E0E;
}

.third-container-header h2{
    font-weight: 700;
    font-size: 50px;
}

.third-container-header a{
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    color: #E4B564;
    width: 180px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #E4B564;
    text-decoration: none;
}

.third-container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third-grid{
    margin-top: 72px;
    display: grid;
    grid-template-rows: repeat(2, 391px);
    grid-template-columns: repeat(3, 1fr);
}

.item3-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #634F2C;
}

.item3-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(232, 210, 171, 0.76);
    padding-left: 80px;
    padding-right: 80px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}

.item3-2 p{
    padding-top: 16px;
    padding-bottom: 12px;
}

.item3-3{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E4B564;
}

.item3-4{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #635A4A;
}

.item3-5{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #B08C4D;
}

.item3-6{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #634F2C;
}

.footer{
    height: 240px;
}

.first-container{
    background-image: url(../img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.second-container{
    background-image: url(../img/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}